<div class="container">
  <div class="row justify-content-between">
    <div class="col-auto pt-1">
      <h2>Cursos</h2>
    </div>
    <div class="col-auto pt-1">
      <div class="row">
        <div class="col-auto pe-0">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            #input
            (keyup.enter)="searchButton.click()"
          />
        </div>
        <div class="col-auto">
          <button
            #searchButton
            class="btn btn-outline-primary"
            type="button"
            (click)="search(input)"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="col-auto pt-1">
        <button class="btn btn-primary">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div> -->
  </div>
  <div class="container" style="overflow-x: auto; height: 90vh">
    <div class="row" *ngFor="let plan of listaPlanes">
      <div class="col pb-2">
        <mat-card>
          <mat-card-title>
            <p>
              {{ plan.PlanDescripcion }}
              <!-- <ng-container *ngIf="true; else NoCupo">
                <span
                  class="badge bg-primary align-middle"
                  style="font-size: 12px"
                  >Lugares Disponibles: {{ 0 }}</span
                >
              </ng-container>
              <ng-template #NoCupo>
                <span
                  class="badge bg-warning align-middle"
                  style="font-size: 12px"
                  >Completo</span
                >
              </ng-template> -->
            </p>
          </mat-card-title>
          <mat-card-subtitle>{{
            plan.Especialidad?.Descripcion
          }}</mat-card-subtitle>
          <mat-card-content>
            <div class="inline">
              <div class="row">
                <ng-container>
                  <div class="col-auto">
                    <p>
                      <strong>Campo</strong>
                      Campo
                    </p>
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <!-- <button mat-button>Detalles</button> -->
            <button mat-raised-button (click)="openDialogMaterias(plan)">
              <i class="fa-solid fa-shapes"></i>
              Materias
            </button>
            <button mat-raised-button (click)="openDialogComisiones(plan)">
              <i class="fa-solid fa-users-line"></i>
              Comisiones
            </button>
            <button mat-raised-button (click)="openDialogPersonas(plan)">
              <i class="fa-solid fa-users"></i>
              Inscriptos
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
