<!-- <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</header> -->
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="sidenav" mode="side" style="width:285px;">
    <div class="d-flex flex-column" style="height: inherit">
      <div class="row m-0 justify-content-between">
        <div class="col-auto align-self-center">Academia</div>
        <div class="col-auto pe-0">
          <button class="btn" (click)="drawer.toggle()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item" *ngIf="role==tipoRol.Administrador">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Cursos
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <i class="ms-2 fa-solid fa-caret-right me-2"></i
              ><a class="a-sidebar" routerLink="/cursos">Reporte de cursos</a>
            </div>
          </div>
        </div>
        <div class="accordion-item" *ngIf="role==tipoRol.Administrador">
          <h2 class="accordion-header" id="flush-headingPlanes">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapsePlanes"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Planes
            </button>
          </h2>
          <div
            id="flush-collapsePlanes"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingPlanes"
            data-bs-parent="#accordionFlush"
          >
            <div class="accordion-body">
              <i class="ms-2 fa-solid fa-caret-right me-2"></i
              ><a class="a-sidebar" routerLink="/planes">Reporte de planes</a>
            </div>
          </div>
        </div>
        <div class="accordion-item" *ngIf="role==tipoRol.Alumno">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
            Inscripciones
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlush"
          >
          <div class="accordion-body">
            <i class="ms-2 fa-solid fa-caret-right me-2"></i
            ><a class="a-sidebar" routerLink="/inscripciones">Inscribirse a un curso</a>
          </div>
          </div>
        </div>
      </div>
      <div class="dropdown border-top mt-auto">
        <a
          href="#"
          class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser3"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="24"
            height="24"
            class="rounded-circle"
          />
        </a>
        <ul
          class="dropdown-menu text-small shadow"
          aria-labelledby="dropdownUser3"
        >
          <li><a class="dropdown-item" (click)="logOut()">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </mat-drawer>
  <div class="d-flex" style="height: inherit">
    <div
      class="d-flex flex-column flex-shrink-0 bg-light h-100 justify-content-between sidenav-closed"
      *ngIf="!drawer.opened"
    >
      <button type="button" mat-button (click)="drawer.toggle()">
        <i class="fa-solid fa-bars"></i>
      </button>

      <div class="dropdown border-top">
        <a
          href="#"
          class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser3"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="24"
            height="24"
            class="rounded-circle"
          />
        </a>
        <ul
          class="dropdown-menu text-small shadow"
          aria-labelledby="dropdownUser3"
        >
          <!-- <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><hr class="dropdown-divider" /></li> -->
          <li><a class="dropdown-item" (click)="logOut()">Cerrar sesión</a></li>
        </ul>
      </div>

      <!-- <div class="row">
              <div class="col">
                <button type="button" mat-button (click)="drawer.toggle()">
                  Toggle sidenav
                </button>
                <router-outlet></router-outlet>
              </div>
            </div> -->
    </div>
    <div class="pt-2" style="width: -webkit-fill-available;">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
